In [1]:
import pandas as pd

In [2]:
prefix = "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow"
url = f"{prefix}/yellow_tripdata_2021-01.csv.gz"

In [3]:
dtype = {
    "VendorID": "Int64",
    "passenger_count": "Int64",
    "trip_distance": "float64",
    "RatecodeID": "Int64",
    "store_and_fwd_flag": "string",
    "PULocationID": "Int64",
    "DOLocationID": "Int64",
    "payment_type": "Int64",
    "fare_amount": "float64",
    "extra": "float64",
    "mta_tax": "float64",
    "tip_amount": "float64",
    "tolls_amount": "float64",
    "improvement_surcharge": "float64",
    "total_amount": "float64",
    "congestion_surcharge": "float64"
}

parse_dates = [
    "tpep_pickup_datetime",
    "tpep_dropoff_datetime"
]

In [34]:
!uv add sqlalchemy

Resolved 120 packages in 0.69ms
Audited 12 packages in 0.15ms

In [33]:
!uv add psycopg2-binary

Resolved 120 packages in 0.66ms
Audited 12 packages in 0.14ms

In [32]:
from sqlalchemy import create_engine

engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [35]:
#This line is for you to check whether column names and dtypes are correct
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [38]:
df_iter = pd.read_csv(
    prefix + '/yellow_tripdata_2021-01.csv.gz',
    dtype=dtype,
    parse_dates=parse_dates,
    iterator=True,
    chunksize=100000
)

In [39]:
!uv add tqdm

Resolved 120 packages in 0.63ms
Audited 12 packages in 0.13ms

In [40]:
from tqdm.auto import tqdm

In [41]:
for df_chunk in tqdm(df_iter):
    df_chunk.to_sql(name='yellow_taxi_data', con=engine,if_exists='append')

0it [00:00, ?it/s]

In [45]:
df= next(df_iter)

StopIteration:

In [25]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
300000,2,2021-01-08 21:57:23,2021-01-08 21:57:32,1,0.01,5,N,255,255,1,30.0,0.0,0.0,4.00,0.00,0.3,34.30,0.0
300001,2,2021-01-08 21:28:00,2021-01-08 21:46:38,1,11.74,1,N,194,95,1,32.0,0.5,0.5,7.88,6.12,0.3,47.30,0.0
300002,2,2021-01-08 21:29:09,2021-01-08 21:36:33,3,1.75,1,N,142,141,2,8.0,0.5,0.5,0.00,0.00,0.3,11.80,2.5
300003,2,2021-01-08 21:46:10,2021-01-08 22:07:13,2,8.67,1,N,262,18,1,26.5,0.5,0.5,7.58,0.00,0.3,37.88,2.5
300004,1,2021-01-08 21:16:46,2021-01-08 21:20:29,1,0.90,1,N,168,69,2,5.5,0.5,0.5,0.00,0.00,0.3,6.80,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
399995,2,2021-01-11 17:03:58,2021-01-11 17:08:23,1,1.08,1,N,162,107,1,5.5,1.0,0.5,1.00,0.00,0.3,10.80,2.5
399996,1,2021-01-11 17:09:26,2021-01-11 17:31:25,1,4.70,1,N,239,234,1,18.5,3.5,0.5,4.55,0.00,0.3,27.35,2.5
399997,1,2021-01-11 17:46:24,2021-01-11 17:54:11,1,1.10,1,N,161,233,2,7.0,3.5,0.5,0.00,0.00,0.3,11.30,2.5
399998,2,2021-01-11 17:31:45,2021-01-11 17:48:09,1,3.16,1,N,161,45,1,13.0,1.0,0.5,3.46,0.00,0.3,20.76,2.5
399999,2,2021-01-11 17:51:49,2021-01-11 17:59:38,1,1.55,1,N,144,4,2,7.5,1.0,0.5,0.00,0.00,0.3,11.80,2.5